<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>Producenter</title>
    <link rel="stylesheet" href="/master.css">
  </head>
  <body>
    <div id="content">
      <h1>Producenter</h1>

      <ul>
        {{#each producers}}
          <li>
            {{#if name}}
              <h2>{{producer_link this}}</h2>
            {{else}}
              <h2 class="no-name">Inget namn</h2>
            {{/if}}
            <ul>
              <li>Id: {{id}}</li>
              {{#if location}}<li>Ort: {{location}}</li>{{/if}}
              <li>
                <h3>Senaste uppdateringarna av datan</h3>
                <ul>
                  {{#each_to_limit scrapings 3}}
                    <li>{{date scraped_at "DD MMMM YYYY HH:mm"}}</li>
                  {{else}}
                    <li class="summary-updates">Och {{nr_of_more_times}} st tidigare datum.</li>
                  {{/each_to_limit}}
                </ul>
              </li>
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>
